dist/
node_modules/
tests/testProject/
*.log
.env
.DS_Store
**/.DS_Store
*/package-lock.json
Shared/ComponentParent/src/*.js*
Shared/ComponentParent/utils/*.js*
Web/Container/src/bundle/babylonjscore.js